<div md-dialog-container>
  <h1 md-dialog-title>Доступы</h1>
  <div md-dialog-content class="modal-body">
    <table class="table">
      <thead>
      <tr>
        <th>Идентификатор</th>
        <th>Email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of getUserList()">
        <td>{{user.userId}}</td>
        <td>{{user.email}}</td>
        <td style="text-align:right;">
          <button type="button" class="btn btn-danger btn-sm" name="button"
                  (click)="removeUserId(user.userId)">Удалить
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td>
          <input type="text" #userIdField class="form-control" placeholder="Уникальный идентификатор"/>
        </td>

        <td colspan="2">
          <button type="button" name="add" class="btn btn-primary btn-block"
                  (click)="addUserId(userIdField.value)">Добавить
          </button>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
  <div md-dialog-actions>
    <button md-button type="button" class="btn btn-primary btn-block"
            (click)="dialogRef.close()">Закрыть
    </button>
  </div>
</div>
