<div md-dialog-container>
  <div md-dialog-content class="modal-body">
    {{data.dialogText}}
  </div>

  <div md-dialog-actions>
    <div class="row">
      <div class="col-xs-6">
        <button md-button type="button" class="btn btn-primary btn-block {{data.activeButtonClass}}"
                (click)="dialogRef.close(true)">
          {{data.activeButtonText}}
        </button>
      </div>
      <div class="col-xs-6">
        <button md-button type="button" class="btn btn-primary btn-block"
                (click)="dialogRef.close(false)">
          Назад
        </button>
      </div>
    </div>

  </div>
</div>
