<div md-dialog-container>
  <div md-dialog-content class="modal-body">
    <img-cropper #cropper [image]="imageData"
                 [settings]="cropperSettings"
    (onCrop)="cropped($event)">

    </img-cropper>
  </div>

  <div md-dialog-actions>
    <div class="row">
      <div class="col-xs-6">
        <button md-button type="button" class="btn btn-primary btn-block"
                (click)="savePhoto(photo)">
          Сохранить
        </button>

      </div>
      <div class="col-xs-6">

        <button md-button type="button" class="btn btn-primary btn-block"
                (click)="dialogRef.close()">
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>
