<ol class="breadcrumb">
  <li><a routerLink="../../../">Категории</a></li>
  <li class="active">{{currentCategory.name}}</li>
</ol>

<form (ngSubmit)="uploadCategory()">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label class="form-check-label" for="announced">
              Анонсируемая
            </label>
            <input type="checkbox" class="form-check-input" name="announced" id="announced"
                   [(ngModel)]="currentCategory.announced">
          </div>
        </div>
        <div class="col-sm-3">
          <div>
            <label class="form-check-label" for="active">
              Активная
            </label>
            <input type="checkbox" class="form-check-input" name="active" id="active"
                   (click)="toggleCurrentCategoryActivityOrders()"
                   [checked]="currentCategory.active">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-4">
          <label for="name">Название</label>
          <input class="form-control" [(ngModel)]="currentCategory.name"
                 name="name" id="name" type="text">
        </div>
        <div class="form-group col-sm-4">
          <label for="order">Order</label>
          <input class="form-control"
                 [(ngModel)]="currentCategory.order"
                 [disabled]="!currentCategory.active"
                 name="order" id="order" type="number">
        </div>
        <div class="form-group col-xs-4">
          <label>Города</label>
          <form>
            <ul class="list-group">
              <li class="list-group-item"
                  *ngFor="let city of currentCategory.cityList">
                <div class="row">
                  <div class="col-xs-8">{{city.name}}</div>

                  <div class="col-xs-4 radio-container">
                    <div class="radio">
                      <input [id]="city.id" name="cities"
                             [disabled]="!currentCategory.id"
                             [checked]="city.id==currentCategory.cityId"
                             (change)="setCity(city)"
                             type="radio"/>
                      <label [for]="city.id" class="radio-label"></label>
                    </div>
                  </div>
                </div>

              </li>
            </ul>
          </form>
        </div>
      </div>

    </div>

    <div class="form-group col-sm-4">
      <label>Превью</label>
      <div class="d-flex flex-column justify-content-start">
        <div style="margin: 10px;">
          <img class="img-responsive" [src]="getPreviewUrl()">
        </div>
        <div class="btn-group">
          <label class="btn btn-primary" [class.disabled]="!currentCategory.id">
            Загрузить
            <input type="file" name="preview"
                   [disabled]="!currentCategory.id"
                   (change)="uploadPreview($event)" style="display: none;">
          </label>
          <button type="button" [disabled]="!currentCategory.id" class="btn btn-danger" (click)="removePreview()">
            Удалить
          </button>
        </div>
      </div>
    </div>

  </div>


  <div class="btn-group">
    <button class="btn btn-primary" type="submit">
      Сохранить
    </button>
    <a routerLink="../../../" class="btn btn-secondary">Назад</a>
  </div>


</form>
