<table class="table table-bordered">
  <thead>
  <tr>
    <th>Название категории</th>
    <th style="width: 100px; text-align: center;">
      <a type="button" class="btn btn-primary btn-xs"
         [routerLink]="['/categories/edit', 'id', '']">Создать</a>
    </th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let category of getCategoriesList()">
    <td>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="img-circle" style="width: 60px; height: 60px;"
                 [src]="category.previewUrl" *ngIf="category.previewUrl"
                 data-holder-rendered="true">
            <div *ngIf="!category.previewUrl" style="width: 60px; height: 60px;"></div>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading" style="margin-top: 8px;">
            <a [routerLink]="['/categories/edit', 'id', category.id]">{{category.name}}</a>
          </h4>
          <p>
            <span class="text-success" *ngIf="category.announced">Анонсируема</span>
            <span class="text-warning" *ngIf="!category.announced">Неанонсируема</span>
          </p>

          <p>
            <span class="text-success" *ngIf="category.active">Активна</span>
            <span class="text-warning" *ngIf="!category.active">Неактивна</span>
          </p>

          <p>
            <span class="text-info">{{category?.cityName}}</span>
          </p>

        </div>
      </div>
    </td>
    <td>
      <div class="dropdown clearfix">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Действие <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
          <li><a [routerLink]="['/categories/edit', 'id', category.id]">Изменить</a></li>
          <li *ngIf="category.announced">
            <a (click)="deannounceCategory(category)">Отменить анонсирование</a>
          </li>
          <li *ngIf="!category.announced">
            <a (click)="announceCategory(category)">Анонсировать</a>
          </li>
          <li><a (click)="removeCategory(category)">Удалить</a></li>
        </ul>
      </div>

    </td>
  </tr>



  </tbody>
</table>
