<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <a href="#" class="active" id="login-form-link">Login</a>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" role="form" style="display: block;"
                    (ngSubmit)="authUser()">
                <div class="form-group">
                  <input type="email" name="username" id="username" tabindex="1" class="form-control"
                         placeholder="Email" value=""
                         [(ngModel)]="email">
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="password" tabindex="2" class="form-control"
                         placeholder="Password"
                         [(ngModel)]="password">
                </div>
                <div class="alert alert-danger"
                     *ngIf="incorrectUser">
                  Неверный e-mail или пароль
                </div>
                <div class="alert alert-danger"
                     *ngIf="!permissedUser">
                  Нет доступа
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                             class="form-control btn btn-login" value="Log In">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
