<!-- div class="d-flex flex-row justify-content-end mb-3">
  <a class="btn btn-primary float-right"
     [routerLink]="['/edit', 'id', '']"
     routerLinkActive="active">Создать новый</a>

</div -->


<table class="table table-bordered">
  <thead>
  <tr>
    <th style="width: 40%">Название заведения</th>
    <th>Адрес</th>
    <th>Телефон</th>
    <th style="width: 100px; text-align: center;">
      <a type="button" class="btn btn-primary btn-xs"
      [routerLink]="['/places/edit', 'id', '']">Создать</a>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let place of getPlacesList()">
    <td>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <!-- img class="img-circle" style="width: 60pxpreviewImageDataight: 60px;"
                 [src]="place.getPreviewUrl()"
                 data-holder-rendered="true" -->
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading" style="margin-top: 8px;">
            <a [routerLink]="['/places/edit', 'id', place.getId()]">{{place.name}}</a>
          </h4>
          <div class="text-success" *ngIf="place.active">Активно</div>
          <div class="text-warning" *ngIf="!place.active">Неактивно</div>
        </div>
      </div>
    </td>
    <td>{{place.address}}</td>
    <td>{{place.phone}}</td>
    <td>
      <div class="dropdown clearfix">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
          Действие <span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
          <li><a [routerLink]="['/places/edit', 'id', place.getId()]">Изменить</a></li>
          <li><a data-toggle="modal" data-target="#myModal"
                 md-button (click)="openDialog(place)">Доступы</a></li>
          <li><a (click)="togglePlace(place)">
            <span *ngIf="!place.active">
              Активировать
            </span>
            <span *ngIf="place.active">
              Деактивировать
            </span>
          </a></li>
          <li><a (click)="removePlace(place)">Удалить</a></li>
        </ul>
      </div>

    </td>
  </tr>

  </tbody>
</table>
