<!-- Main component for a primary marketing message or call to action -->
<ol class="breadcrumb">
  <li><a routerLink="../../../">Заведения</a></li>
  <li class="active">{{getCurrentPlace().name}}</li>
</ol>

<form novalidate (ngSubmit)="uploadPlace()" #placeForm="ngForm"
      style="padding-bottom: 300px;">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-2">
          <div class="form-group">
            <label for="active">Активный</label>
            <input type="checkbox" class="form-inline checkbox" id="active" name="active"
                   [(ngModel)]="getCurrentPlace().active"
                   (change)="setAllCategoriesOrder($event)">
          </div>
          <div class="form-group">
            <label for="customer">Клиент</label>
            <input type="checkbox" class="form-inline checkbox" id="customer" name="customer"
                   [(ngModel)]="getCurrentPlace().customer">
          </div>
        </div>
        <div class="form-group col-xs-4">
          <label for="name">Название</label>
          <input type="text" class="form-control" id="name" placeholder="Лес ТЧК" name="name"
                 [(ngModel)]="getCurrentPlace().name">
        </div>

        <div class="form-group col-xs-6">
          <label>Категории</label>
          <form>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let cat of getCategories(); let i = index">
                <div class="row">
                  <div class="col-xs-3">{{cat.name}}</div>
                  <div class="col-xs-3">
                    <p class="text-info">{{cat?.cityName}}</p>
                  </div>
                  <div class="col-xs-3">
                    <input
                      *ngIf="hasCategory(cat)"
                      [disabled]="!getCurrentPlace().active"
                      [value]="getCategoryOrder(cat)"
                      (input)="setCategoryOrder($event, cat)"
                      class="form-control" name="order_{{cat.id}}"
                      type="number" min="0">
                  </div>

                  <div class="col-xs-3">
                    <div class="material-switch pull-right">
                      <input id="{{cat.id}}" name="{{cat.name}}_{{i}}" type="checkbox"
                             [checked]="hasCategory(cat)"
                             (change)="addOrRemoveCategory($event, cat)"/>
                      <label for="{{cat.id}}" class="label-default"></label>
                    </div>
                  </div>
                </div>

              </li>
            </ul>
          </form>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Описание</label>
        <textarea style="resize: vertical;"
                  class="form-control" rows="4" id="description" name="description"
                  [(ngModel)]="getCurrentPlace().description">
              </textarea>
      </div>
      <div class="form-group">
        <label for="greet">Приветственное сообщение</label>
        <textarea style="resize: vertical;"
                  class="form-control" rows="4" id="greet" name="greet"
                  [(ngModel)]="getCurrentPlace().greet">
              </textarea>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="phonenumber">Номер телефона</label>
            <input type="text" required class="form-control" id="phonenumber" name="phonenumber"
                   placeholder="8 800 555 3535"
                   [(ngModel)]="getCurrentPlace().phone">
          </div>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <label for="address">Адрес</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Зуево-Кукуево, д. 3"
                   [(ngModel)]="getCurrentPlace().address">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="reserveDays">Доступно для бронирования</label>
            <input type="text" required class="form-control" id="reserveDays" name="reserveDays" placeholder="12 (дней)"
                   [(ngModel)]="getCurrentPlace().reserveDays">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="reserveInterval">Интервал бронирования</label>
            <input type="text" required class="form-control" id="reserveInterval" name="reserveInterval"
                   placeholder="30 (мин)"
                   [(ngModel)]="getCurrentPlace().reserveInterval">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="check">Средний чек</label>
            <input type="text" required class="form-control" id="check" name="check" placeholder="1400 (руб)"
                   [(ngModel)]="getCurrentPlace().check">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="website">Веб сайт</label>
            <input type="text" class="form-control" id="website" name="website" placeholder="example.com"
                   [(ngModel)]="getCurrentPlace().website">
          </div>
        </div>
      </div>
      <hr/>

      <div class="row">
        <div class="col-sm-3">
          <legend>Услуги</legend>
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn dropdown-toggle" data-placeholder="Выберите услугу">
              Услуг выбрано:
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let service of getCurrentPlace().services | keys">
                <input type="checkbox" id="{{service}}" value="" name="{{service}}"
                       [(ngModel)]="getCurrentPlace().services[service]">
                <label for="{{service}}">
                  {{getCurrentPlace().getServices[service]}}
                </label>
              </li>
              <!-- Other items -->
            </ul>
          </div>

        </div>
      </div>

      <hr/>
      <div class="row">

        <div class="col-sm-3">
          <div class="fileload-button-block">


            <legend>Превью</legend>

            <div class="btn-group-vertical">
              <label class="btn btn-primary" [class.disabled]="!currentPlace.getId()">
                Добавить
                <input type="file" name="preview" style="display: none"
                       [disabled]="!currentPlace.getId()"
                       (change)="uploadPreviewPhoto($event)">
              </label>
              <button type="button" class="btn btn-danger"
                      (click)="removePreview()">
                Удалить
              </button>

            </div>
          </div>
          <div class="fileload-button-block">
            <legend>Меню</legend>
            <div class="">
              <div class="btn-group-vertical">
                <a [href]="getMenuFileUrl()"
                   *ngIf="currentPlace.menu"
                   class="btn btn-primary">
                  Посмотреть
                </a>
                <label class="btn btn-primary">
                  Загрузить
                  <input type="file" style="display: none;"
                         name="menuFile"
                         (change)="addMenuFile($event)"/>
                </label>
                <button type="button" class="btn btn-danger"
                        [disabled]="!currentPlace.menu"
                        (click)="removeMenuFile()">Удалить
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9">

          <img [src]="getPreviewUrl()" *ngIf="getPreviewUrl()" style="width: 100%;"/>

        </div>
      </div>

      <hr/>


    </div>

    <div class="col-sm-4">

      <button class="btn btn-primary btn-block" type="submit"
              [disabled]="!placeForm.form.valid">Сохранить
      </button>

      <hr/>
      <div *ngFor="let day of getCurrentPlace().getWeekDays | keys">
        <legend>{{getCurrentPlace().getWeekDays[day]}}</legend>

        <div class="row">
          <div class="col-sm-6" *ngFor="let time of getCurrentPlace().getWeekTimes | keys">
            <div class="form-group">
              <label for="{{day}}_{{time}}">{{getCurrentPlace().getWeekTimes[time]}}</label>
              <input type="email" class="form-control" id="{{day}}_{{time}}" name="{{day}}_{{time}}" placeholder="Email"
                     [(ngModel)]="getCurrentPlace().hours[day][time]">
            </div>
          </div>

        </div>
      </div>

    </div>


  </div>
  <div class="row">

    <legend>Основные изображения</legend>
    <swiper [config]="photoswipper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"
             *ngFor="let url of getUrlList(currentPlace.photoList); let i = index">
          <img class="img-responsive" [src]="url" data-holder-rendered="true">
          <div class="img-overlay">
            <button type="button"
                    style="width: 100%; border-radius: 0;"
                    class="btn btn-md btn-danger"
                    (click)="removePhoto(i)">Удалить
            </button>
          </div>
        </div>
      </div>
    </swiper>

    <label class="btn btn-default" style="margin-top: 20px;"
           [class.disabled]="!currentPlace.getId()">
      Добавить изображение
      <input type="file" name="photo" style="display:none"
             (change)="uploadPhoto($event)" [disabled]="!currentPlace.getId()">
    </label>

    <hr/>

    <legend>Дополнительные изображения</legend>

    <div class="form-group">
      <label for="extraTitle">Заголовок</label>
      <input type="text" class="form-control" id="extraTitle" name="extraTitle"
             placeholder="Кальяны и табаки"
             [(ngModel)]="currentPlace.extraTitle">
    </div>

    <swiper [config]="photoswipper">
      <div class="swiper-wrapper">
        <div class="img-wrapper swiper-slide"
             *ngFor="let url of getUrlList(currentPlace.extraPhotoList); let i = index">
          <img class="img-responsive" [src]="url" data-holder-rendered="true">
          <div>
            <button type="button" class="btn btn-md btn-danger"
                    style="width: 100%; border-radius: 0;"
                    (click)="removeExtraPhoto(i)">
              Удалить
            </button>
          </div>
        </div>
      </div>
    </swiper>


    <label class="btn btn-default" style="margin-top: 20px;"
           [class.disabled]="!currentPlace.getId()">
      Добавить изображение
      <input type="file" name="photo" style="display:none"
             (change)="uploadExtraPhoto($event)" [disabled]="!currentPlace.getId()">
    </label>

  </div>
</form>
