<div class="panel panel-default">
  <div class="panel-heading">
    Добавить новый город
  </div>
  <div class="panel-body">
    <div class="row add-city-element">
      <div class="col-xs-8">
        <input type="text"
               #cityname
               [(ngModel)]="newCityName"
               placeholder="Название города" class="form-control">
      </div>
      <div class="col-xs-4">
        <button type="button"
                class="btn btn-primary"
                [disabled]="!newCityName"
                (click)="addCity(cityname.value)">Добавить
        </button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th class="cityname-column">
      Название города
    </th>
    <th class="button-column"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let city of cityList">
    <td>
      <p *ngIf="!city.onEdit">
        {{city.name}}
      </p>
      <input *ngIf="city.onEdit"
             type="text" class="form-control" [(ngModel)]="city.name">
    </td>
    <td>
      <div class="btn-group">
        <button *ngIf="!city.onEdit"
                (click)="city.onEdit=true"
                type="button"
                class="btn btn-default">Изменить
        </button>
        <button *ngIf="city.onEdit"
                (click)="updateCity(city)"
                [disabled]="!city.name"
                type="button"
                class="btn btn-default">Сохранить
        </button>
        <button (click)="removeCity(city)"
                type="button"
                class="btn btn-danger">Удалить
        </button>

      </div>
    </td>
  </tr>
  </tbody>
</table>
