<div class="container">
  <nav class="navbar navbar-default base-navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="places">Click&Book</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="places">Заведения</a></li>
          <li routerLinkActive="active"><a routerLink="categories">Категории</a></li>
          <li routerLinkActive="active"><a routerLink="cities">Города</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated()">
          <li (click)="logout()"><a>Выход</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <router-outlet></router-outlet>
</div>

